.content {
    display: grid;
    grid-template-columns:  auto 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2vw;
    width: 70vw;
}
.content > div {
    outline: 1px solid blue;
}

.userInform {
    display: block;

}

.userInform .informvalue > div {
    position: relative;
    color: darkgray;
    line-height: 1.6em;

}

.userInform .informvalue > div > div {
    color: white;
    display: inline-block;
    position: absolute;
    left: 12vw;
}

.userimage img {

    border-radius: 50%;
}

.userimage {
    width: 225px;
    height: 225px;
}

.userContent {
    position: relative;
    top: 2px;
    box-sizing: border-box;
    width: 225px;

}

.userContent > div {
    outline: 1px solid darkgoldenrod;
    margin: 1vh 0;
}

/*POSTS*/
fieldset {
    display: block;
    position: relative;
    width: 30%;

}

#newpost textarea {
    resize: none;

}

#newpost > * {
    display: block;
    margin-bottom: 2vh;
    color: black;
}
.allposts{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.post{
    position: relative;
    box-sizing: border-box;
    width:100%;
    height:auto;
    padding-left:8vw;
    outline: 1px solid gray;
    padding-bottom: 40px;
}
.post img{
    top:20px;
    left:10px;
    position: absolute;
    display: block;
    height: 100px;
    width:100px;
    border-radius:50%;

}
.timeInPost{
    position: absolute;
    display: block;
    top: 20px;
    right: 40px;

}
.post .username {
    position: relative;
    top:20px;
    left:20px;
}