header {
    display: flex;
    height: auto;
    font-size: 0.8em;
}

.imageHolder {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 100px;

}

.head img {
    display: inline-block;
    position: relative;
    width: 50%;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%,0);

    text-align: center;
}

.friendsActive{
    display: inline-flex;
    width: 30vw;
    padding: 5px;

    justify-content: space-between;
    align-content: flex-start;

}
.friendActiveItem {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    outline: 1px solid gold;
    align-self: flex-start;
    margin-right: 5px;

}
.activeUserName{
    text-align: center;
    margin-top: 10px;
}
