.post {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 8vw;
    outline: 1px solid gray;
    padding-bottom: 40px;
}

.post img {
    top: 20px;
    left: 10px;
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.timeInPost {
    position: absolute;
    display: block;
    top: 20px;
    right: 40px;

}

.post .username {
    position: relative;
    top: 20px;
    left: 20px;
}