
.userInform {
    display: block;
    position: relative;
    height: auto;

}

.userInform .informValue > div {
    position: relative;
    color: darkgray;
    line-height: 1.6em;

}

.userInform .informValue > div > div {
    color: white;
    display: inline-block;
    position: absolute;
    left: 130px;
}

.userImage img {

    border-radius: 50%;
}

.userImage {
    width: 225px;
    height: 225px;
}


