.navigation div a {
    text-decoration: none;
    line-height: 1.3em;
    color:white;
}

.navigation div a:hover {
    color: cornflowerblue;
}
.navigation {
    grid-area: navi;
    padding: 10px;
    align-self: auto;
    width: auto;
    min-width: 76px;
}
.navigation div .active {
    color:deepskyblue;
}
