
fieldset {
    display: block;
    position: relative;
    width: 60%;

}

#newpost textarea {
    resize: none;
    width:100%;

}

#newpost > * {
    display: block;
    margin-bottom: 2vh;
    color: black;
}
.allposts{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
