
fieldset {
    display: block;
    position: relative;
    width: 60%;

}

.newPost textarea {
    resize: none;
    width:100%;

}

.newPost  * {
    display: block;
    margin-bottom: 2vh;
    color: black;
}
.allPosts{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 95%;
    height: auto;
    margin: 0;
    padding: 0;
}
.inputSub{
    padding:5px 10px;
    margin-left: 10px;
}
