body {
    background-image: url("./background.png");
    color: white;
    background-attachment: fixed;

}

.App > * {
    outline: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3vh;
}

.App {
    display: grid;
    grid-template-areas: 'head head head'
                       'navi content content'
                       'footer footer footer';
    grid-template-columns:  auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 2vh;
    height: 100vh;

}

.head {
    grid-area: head;
}

.navigation {
    grid-area: navi;

}

.userPage {
    grid-area: content;
}

.footer {
    grid-area: footer;

}